<div class="hero-container text-center">
  <h1 class="display-4">Welcome to My Portfolio</h1>
  <p class="lead">I'm a passionate developer specializing in modern web technologies.</p>
  <div class="social-links">
    <a class="btn btn-outline-light" href="https://github.com/yourusername" target="_blank">GitHub</a>
    <a class="btn btn-outline-light" href="https://linkedin.com/in/yourusername" target="_blank">LinkedIn</a>
    <a class="btn btn-outline-light" href="https://twitter.com/yourusername" target="_blank">Twitter</a>
  </div>
</div>
